@font-face {
  font-family: 'ProximaNova', sans-serif;
  src: url('/ProximaNovaFont.otf');
}
body {
  overflow: hidden;
}
//btn color
$primary-btn-color: #1082ea;
$primary-btn-border-color: rgb(32, 58, 82);

// text color
$text-color-primary: rgb(21, 102, 220);
$text-color-dark: rgb(50, 56, 46);
$text-dark-primary-color: rgb(32, 58, 82);
$text-black-haf-color: rgb(74, 90, 109);
$text-link-color: rgb(16, 130, 234);
$text-red-color: rgb(255, 88, 88);
$text-white-color: #fff;

//  bg color
$bg-primary-color: rgb(21, 102, 220);
$bg-white-haf-color: rgb(246, 250, 255);
$bg-white-color: #fff;
$bg-white-blue-color: rgb(234, 243, 255);
$bg-green-color: #eefaf6;

// font size
.bg-primary {
  background-color: $bg-primary-color;
}
.bg-white-haf {
  background-color: $bg-white-haf-color;
}
.bg-white {
  background-color: $bg-white-color;
}
.bg-blue {
  background-color: $bg-white-blue-color;
}
.bg-green {
  background-color: $bg-green-color;
}
// heading
$ts-heading-01: clamp(2.4rem, 4vw, 2.625rem);
$ts-heading-02: clamp(2.2rem, 4vw, 2.375rem);
$ts-heading-03: clamp(1.2rem, 3vw, 1.25rem);
$ts-heading-04: clamp(2.1rem, 3vw, 2.13333rem);
$ts-heading-05: clamp(0.8rem, 2vw, 0.9rem);

// desc
$ts-desc-01: clamp(2.1rem, 3vw, 2.13333rem);
$ts-desc-02: clamp(1.4rem, 3vw, 1.4275rem);
$ts-desc-03: clamp(1.1rem, 2vw, 1.125rem);
$ts-desc-04: clamp(0.9rem, 1vw, 1rem);

// font weight
$ts-font-weight-100: 100;
$ts-font-weight-200: 200;
$ts-font-weight-300: 300;
$ts-font-weight-400: 400;
$ts-font-weight-500: 500;
$ts-font-weight-600: 600;
$ts-font-weight-700: 700;
// font family
$ts-font-family: ProximaNova, sans-serif;
// padding
$section-padding: 72px;

// heading
%heading {
  color: $text-dark-primary-color;
  word-break: break-word;
  font-family: $ts-font-family;
  color: $text-dark-primary-color;
}
.TsHeading {
  &-01 {
    @extend %heading;
    font-size: $ts-heading-01;
    line-height: 1.04762;
    font-weight: $ts-font-weight-600;
  }
  &-02 {
    @extend %heading;
    font-weight: $ts-font-weight-700;
    font-size: $ts-heading-02;
    line-height: 1.05263;
  }
  &-03 {
    @extend %heading;
    font-size: $ts-heading-03;
    font-weight: $ts-font-weight-600;
  }
  &-04 {
    line-height: 1.25;
    font-weight: $ts-font-weight-200;
    color: $text-color-dark;
    font-family: $ts-font-family;
    font-size: $ts-heading-04;
  }
  &-05 {
    line-height: 1.23;
    font-weight: $ts-font-weight-700;
    color: $text-color-dark;
    font-family: $ts-font-family;
    font-size: $ts-heading-05;
  }
  &-06 {
    font-weight: $ts-font-weight-600;
  }
}
// descriptions

.TsDesc {
  &-02 {
    color: $text-black-haf-color;
    font-size: $ts-desc-02;
    font-weight: $ts-font-weight-400;
    line-height: 1.21739;
    font-family: $ts-font-family;
  }
  &-03 {
    color: $text-black-haf-color;
    font-size: $ts-desc-03;
    font-weight: $ts-font-weight-400;
    line-height: 1.77778;
    font-family: $ts-font-family;
  }
  &-04 {
    font-size: $ts-desc-04;
    font-family: $ts-font-family;
    color: $text-black-haf-color;
    line-height: 1.14;
  }
}
// primary button
.btn {
  &-primary {
    background: $bg-white-color;
    border-radius: 4px;
    color: $text-link-color;
    &:hover {
      background: $bg-primary-color;
      border-radius: 4px;
      color: $text-white-color;
    }
  }
}
