@import 'common';
.garages {
  padding: $section-padding; 
  min-width: 350px; 
  &-cont {
    max-width: 1440px;
  }
}
@media (max-width: 991px) {
  .garages {
    padding: 40px;
  }
}
@media (max-width: 400px) {
  .garages {
    padding: 10px;
  }
}   