@import 'common';
.mission {
  padding: $section-padding;
  min-width: 350px;
  &-cont {
    max-width: 1440px;
  }
}
@media (max-width: 991px) {
  .mission {
    padding: 40px;

    &-content {
      order: 2;
    }
    &-img {
      order: 1;
    }
  }
}
@media (max-width: 400px) {
  .mission {
    padding: 10px;
  }
}
